/*
Asif Jamal
Description: Handles the stylying for the babynames page. 
*/

body, #allnames, button {
	font-size: 12pt;
	font-family: Georgia, serif;
}

q {
	font-style: italic;
}

td {
	vertical-align: bottom;
	height: 250px;
}

td div {
	background-color: #FFBBBB;
	font-weight: bold;
	text-align: center;
	width: 50px;
}